.DS_Store
.idea/
__pycache__/
*.py[cod]
*.pyo
env/
venv/
.venv/
.ipynb_checkpoints/
*.log
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.cache
.pytest_cache/
*.swp
*.swo
*.ckpt
*.h5
*.pth
*.pt
*.env
.env.*
outputs/
results/
logs/
